<!-- Transcluded parent content -->
<span style="cursor: pointer" (click)="onSortChange()">
  <ng-content></ng-content>

  <!-- Sort Control -->
  <div *ngIf = " isSortable() "
       [ngClass] = "{'glyphicon-menu-down' : isAscending() === false , 'glyphicon-menu-up': isAscending() === true} "
       class="glyphicon" >



  </div>
</span>
<!-- Filter Control -->
<div *ngIf = " isFilterActive() ">

  <select [ngModel]="filterSelection" (ngModelChange)="onFilterChange($event)">

    <option> </option>
    <option *ngFor=" let item of getFilterItems() " [value]="item">
      {{item}}
    </option>

  </select>

  <span (click) = " resetFilter() "
        *ngIf=" filterSelection != null && filterSelection != '' "
        class="glyphicon glyphicon-ban-circle clickable"> </span>

</div>
