<div>
  <h1>Auto Grid Sample App</h1>

  <h3>Grid 1</h3>
  <auto-grid [data]="gridData" #grid1>
    <table class="table">
      <thead>
      <tr>
        <th auto-grid-enable="id" sort-enabled >id</th>
        <th auto-grid-enable="fname" select-enabled >First Name</th>
        <th auto-grid-enable="lname" select-enabled sort-enabled >Last Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ( gridData | gridPipe:grid1.selections )">
        <td>{{data.id}}</td>
        <td>{{data.fname}}</td>
        <td>{{data.lname}}</td>
      </tr>
      </tbody>
    </table>
  </auto-grid>

  <h3>Grid 2</h3>
  <auto-grid [data]="gridData" #grid2>
    <table class="table">
      <thead>
      <tr>
        <th auto-grid-enable="id" sort-enabled >id</th>
        <th auto-grid-enable="fname" select-enabled >First Name</th>
        <th auto-grid-enable="lname" select-enabled sort-enabled >Last Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ( gridData | gridPipe:grid2.selections )">
        <td>{{data.id}}</td>
        <td>{{data.fname}}</td>
        <td>{{data.lname}}</td>
      </tr>
      </tbody>
    </table>
  </auto-grid>
</div>

